{% extends "base.html" %}
{% block content %}
<div class="container wrapper flex-grow-1">
      
  {% if messages %}
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="close">×</button>
      {{ message }}
  </div>
  {% endfor %}
{% endif %}

    <h1 class="my-4">
      
Статусы

    </h1>
    
<a class="nav-link" href="/statuses/create/">Создать статус</a>
<table class="table table-striped">
<thead>
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Дата создания</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {% for status in statuses %}
    <tr>
      <td>{{ status.id }}</td>
      <td>{{ status.name }}</td>
      <td>{{ status.created_at }}</td>
      <td>
        <a href="{% url 'status_update' status.id %}">Изменить</a>
        <br>
        <a href="{% url 'status_delete' status.id %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}