{% extends "base.html" %}
{% block content %}

<div class="container wrapper flex-grow-1">
{% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">×</button>
            {{ message }}
        </div>
        {% endfor %}
{% endif %}
      
    <h1 class="my-4">
      
Пользователи

    </h1>
    
<table class="table table-striped">
<thead>
  <tr>
    <th>ID</th>
    <th>Имя пользователя</th>
    <th>Полное имя</th>
    <th>Дата создания</th>
    <th></th>
  </tr>
</thead>
<tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.date_joined }}</td>
      <td>
        <a href="{% url 'user_update' user.id %}">Изменить</a>
        <br>
        <a href="{% url 'user_delete' user.id %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>  
{% endblock %}
